:root {
    --pale-green: #4f645f;
    --dark-blue: #1c272f;
    --light-blue: #bee8ee;
    --gray-ghaleb: #bdc8be;
    --light-pink: #fae4c7;
    --dark-pink: #a16f49;
}

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 30px;
    animation: changeColor alternate linear 3s infinite;
    color: var(--dark-blue);
}

.containerCard {
    width: 350px;
    height: 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-ghaleb);
    border-radius: 3px;
}

.containerCard h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    color: var(--dark-blue);
}

.containerCard .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.containerCard .image img {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    padding-top: 20px;
}

hr {
    border: solid 1px;
    color: var(--light-blue);
    width: 100%;
    margin-bottom: 20px;
}

.containerCard .contant {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.containerCard .contant a {
    text-decoration: none;
}

.containerCard .contant a i {
    font-size: 50px;
    color: var(--dark-blue);
}

.containerCard .contant a:hover i {
    color: var(--pale-green);
}

/* animation */

@keyframes changeColor {
    20% {
        color: var(--gray-ghaleb);
    }

    40% {
        color: var(--pale-green);
    }

    80% {
        color: var(--light-blue);
    }

    100% {
        color: var(--dark-blue);
    }
}